*{
  box-sizing:border-box;
}

p {
  font-size:40px;
  line-height: 1.6;
  color: indigo;
  font-family: monospace;
  margin-left: 40px;
  margin-right:40px;
}

sub {
  font-style: italic;
}

body{
  background-color: yellowgreen;
}
